$app-background: #f4f4f4;
$app-primary-color: #007bff;
$app-secondary-color: #6c757d;

.app {
  background-color: $app-background;
  font-family: Arial, sans-serif;



  &-main {
    padding: 20px;
    text-align: center;

    h1 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
    }
  }

  &-footer {
    background-color: $app-primary-color;
    color: white;
    text-align: center;
    padding: 10px;
  }
}